body{
    background-color: black;
}
.box{
    margin-left: 450px;
    margin-right: 500px;
    margin-top: 100;
    
    border-radius: 25px;
    background-color: rgb(25, 25, 26);
    text-align: center;
    color: rgb(250, 242, 242);
    box-shadow: 4px 4px 8px 8px rgba(2, 252, 23, 0.2);
    }
@media screen and (max-width:980px) {
    .box{
        margin-top: 650px;
        margin-left: 200px;
        margin-right: 200px;
        border-radius: 25px;
        background-color: rgb(37, 37, 37);
        color: blanchedalmond;
        box-shadow: 4px 4px 16px 16px rgba(2, 252, 23, 0.2);
        }
}
.button{
    background-color: black;
        color: rgb(19, 177, 5);
        margin: 10px;
        width: 400px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        border: none;
}
